
    <title>Register</title>
    <link rel="stylesheet" href="/css/ConfirmResetPassword/style.css">
    <link rel="stylesheet" href="/css/ConfirmResetPassword/all.min.css">
    <link rel="stylesheet" href="/css/ConfirmResetPassword/bootstrap.css">
 
<body>
    <div class="overlay"></div>

    <div class="stars">
    </div>
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="success-card">
            <div class="success-icon">
                <span class="checkmark"><i class="fa-solid fa-check"></i></span>
            </div>
            <h2 class="success-title">Successfully</h2>
            <p class="success-message">Your password has been reset successfully</p>
            <button class="continue-btn">CONTINUE</button>
        </div>
    </div>
        <script src="/js/ConfirmResetPassword/bootstrap.js"></script>
        <script src="/js/ConfirmResetPassword/main.js"></script>
</body>
 

 
