@model Bookify.ViewModels.UserVM.UserNewPasswordVM

@{
    ViewData["Title"] = "CreateNewPassword";
}
<head>
<title>CreateNewPassword</title>
<link rel="stylesheet" href="/css/NewPassword/style.css">
<link rel="stylesheet" href="/css/NewPassword/all.min.css">
<link rel="stylesheet" href="/css/NewPassword/bootstrap.css">
</head>

<body>
        <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
            <div class="success-card">
                <div class="logo2"><img src="/Images/Logo.png" alt=""></div>
                <div class="cont">
                <h2>New Password</h2>
                <p>Set the new password for your account so you can login and access all featuress.</p>
                <form asp-action="CreateNewPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="eye mb-3">
                        <label asp-for="Password">Enter New Password</label>
                        <input asp-for="Password" class="form-control" required>
                    <button type="button" class="btn1 d-none"><i class="fa-solid fa-eye"></i></button>
                    <button type="button" class="btn2 d-none active"><i class="fa-solid fa-eye-slash"></i></button>
                </div>
                <small class="text-muted">
                    <ul class="small d-flex ">
                        <div class="div1 me-5">
                            <li class="mb-2 one">Use 8 or more characters</li>
                            <li class="two">Use upper and lower case letters</li>
                        </div>
                        <div class="div2 ms-4">
                            <li class="three mb-2">Include a number (e.g. 1234)</li>
                            <li class="four">Add a symbol (e.g. !@@#$)</li>
                         </div>
                    </ul>
                </small>
                <div class="eye mt-4">
                <label asp-for="ConfirmedPassword">Confirm Password</label>
                <input asp-for="ConfirmedPassword" class="form-control" required>
                    <button type="button" class="btn3 h d-none" style="width: 0;"><i class="fa-solid fa-eye"></i></button>
                    <button type="button" class="btn4 d-none active"><i class="fa-solid fa-eye-slash"></i></button>
                    <div class="n_match d-none">The confirmation password does not match the original</div>
                </div>
                <button type="submit" class="update_btn rounded-pill btn btn-success w-100 mt-4">Create New Password</button>
                </form>
            </div>
        </div>
    </body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/js/NewPassword/bootstrap.js"></script>
    <script src="/js/NewPassword/main.js"></script>
}
