@model Bookify.ViewModels.UserVM.UserForgetPasswordVM

@{
    ViewData["Title"] = "ForgetPassword";
}
<link rel="stylesheet" href="~/css/ForgetPassword/style.css">
<link rel="stylesheet" href="~/css/ForgetPassword/all.min.css">
<link rel="stylesheet" href="~/css/ForgetPassword/bootstrap.css">
<body>
    <div class="bg-image">
        <div class="overlay"></div>
        <div class="container">
            <div class="card p-5 forgot-box">
                <div class="logo2"><img src="~/Images/Logo.png" alt=""></div>
                <h2 class="mb-3 brand1">Forgot password</h2>
                <p class="text-muted small">Enter your email for the verification process, we will send a 4-digit code to your email.</p>

                <form asp-action="ForgetPassword" method="POST" onsubmit="return validateEmail()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control mb-3" placeholder="Enter your email" required>
                    <button type="submit" class="rounded-pill btn btn-success w-100">Continue</button>
                    <div id="error" class="text-danger mt-2" style="display: none;">Please enter a valid email.</div>
                </form>

            </div>
        </div>
    </div>


</body>

@section Scripts {
    <script src="~/js/FrogetPassword/bootstrap.js"></script>
    <script src="~/js/FrogetPassword/main.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
