@model Bookify.ViewModels.UserVM.UserRegisterVM

@{
    ViewData["Title"] = "Register";
}
 
    <link rel="stylesheet" href="~/css/Register/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Register/all.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Register/bootstrap.css" asp-append-version="true">


<body>
  <div class="overlay"></div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-11">
                <div class="card p-4 shadow">
                    <h2 class="text-center">Create an Account</h2>
                    <form asp-action="Register" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label"></label>
                                    <input asp-for="Email" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Address" class="form-label">Address</label>
                                    <input asp-for="Address" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="PhoneNumber" class="form-label">PhoneNumber</label>
                                    <input asp-for="PhoneNumber" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mb-3">
                                    <label asp-for="UserName" class="form-label">UserName</label>
                                    <input asp-for="UserName" class="form-control" required>

                                </div>
                                <div class="mb-3 con">
                                    <label asp-for="Password" class="form-label">Password</label>
                                    <input asp-for="Password" class="form-control"  required>
                                    <button type="button" class="btn1 d-none " style="width: 0;"><i class="fa-solid fa-eye"></i></button>
                                    <button type="button" class="btn2 d-none active"><i class="fa-solid fa-eye-slash"></i></button>
                                </div>

                                <div class="mb-3">
                                    <div class="eye">
                                        <label asp-for="ConfirmedPassword" class="form-label">Comfirm Password</label>
                                        <input asp-for="ConfirmedPassword" class="form-control" required>
                                        <button type="button" class="btn3 d-none " style="width: 0;"><i class="fa-solid fa-eye"></i></button>
                                        <button type="button" class="btn4 d-none active"><i class="fa-solid fa-eye-slash"></i></button>
                                    </div>
                                    <small class="text-muted ">
                                        <ul class="small d-flex mt-3 ">
                                          <div class="div1 me-5">
                                            <li class="one">Use 8 or more characters</li>
                                            <li class="two">Use upper and lower case letters</li>
                                          </div>
                                            <div class="div2">
                                            <li class="three">Include a number (e.g. 1234)</li>
                                            <li class="four">Add a symbol (e.g. !@@#$)</li>
                                            </div>
                                            
                                        </ul>
                                    </small>
                            </div>
                        </div>
                        <button type="submit" class="rounded-pill btn btn-success w-100">Register</button>
                    </form>
                    <p class="mt-3 small">
                        By signing up, you agree to the <a href="/Home/TermsOfServices">Terms of Service</a> and 
                        <a href="/Home/Privacy">Privacy Policy</a>.
                    </p>
                    <p class="p2">
                        Already have an account? <a class="register" href="/Account/Login">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Register/bootstrap.js" asp-append-version="true"></script>
    <script src="~/js/Register/main.js" asp-append-version="true"></script>
</body>

 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
