@model Bookify.ViewModels.UserVM.UserOtpVM
<link rel="stylesheet" href="~/css/SendAndGetOtpToResetPassword/style.css">
<link rel="stylesheet" href="~/css/SendAndGetOtpToResetPassword/all.min.css">
<link rel="stylesheet" href="~/css/SendAndGetOtpToResetPassword/bootstrap.css">

<div class="overlay"></div>

<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="success-card">
        <div class="logo2">
            <img src="~/Images/Logo.png" alt="Logo" />
        </div>

        <h2>Verification</h2>
        <p class="text-muted mb-4">Enter your 4 digits code that you received on your email.</p>

        <form asp-action="SendAndGetOtpToResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-field d-flex gap-2">
                <input asp-for="Digit1" class="form-control text-center" maxlength="1" />
                <input asp-for="Digit2" class="form-control text-center" maxlength="1" />
                <input asp-for="Digit3" class="form-control text-center" maxlength="1" />
                <input asp-for="Digit4" class="form-control text-center" maxlength="1" />
            </div>


            <div class="counter-box mt-3"></div>

            <button type="submit" class="continue-btn mt-3">CONTINUE</button>

            <p class="resend mt-2">If you didn’t receive a code!
                <a href="#" onclick="resetTimer()">Resend</a></p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/SendAndGetOtpToResetPassword/main.js"></script>
}
