@{
    Layout = "~/Views/Shared/NewLayout.cshtml";
}
<head>

    <link rel="stylesheet" href="~/css/About/style.css"/>
    <link rel="stylesheet" href="~/css/About/all.min.css"/>
    <link rel="stylesheet" href="~/css/About/bootstrap.css"/>
     <title>About Us</title>
</head>

<body>

    <div class="box">
        <div class="hidding">
            <h1>About Us</h1>
            <p>Curious to know who we are? Let us tell you our story!</p>
        </div>
        <div class="card cont mb-3">
            <div class="row g-0">
                <div class="text">
                    <p>
                        Welcome to Bookfiy – your ultimate gateway to unforgettable moments!
                        We’re not just a ticket platform — we’re your partner in planning your best nights out. Whether you're into concerts, theatre plays, comedy shows, festivals, or sporting events, we’ve got you covered.
                        Founded with one simple mission: make discovering and booking events easier, faster, and more fun. No more endless scrolling or confusing booking steps — just a smooth, clean experience from browsing to booking.
                        At Bookfiy, we believe experiences matter. That’s why we work closely with event organizers to bring you real-time availability, fair pricing, and secure bookings — all in just a few clicks.
                        Whether you’re chasing live music vibes, craving a theatre night, or just looking for something exciting to do this weekend — start here.
                        Find it. Book it. Live it.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/About/bootstrap.js"></script>
    <script src="~/js/About/main.js"></script>
</body>
</html>
